/*! normalize.css v4.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
@import url(https://fonts.googleapis.com/css?family=Arimo&subset=latin,cyrillic);
@import url(/scss/sprite.css);
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
========================================================================== */
/**
 * Change font properties to `inherit` in all browsers (opinionated).
 */
button,
input,
select,
textarea {
  font: inherit; }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 * 2. Show the overflow in Edge, Firefox, and IE.
 */
button,
input,
select {
  /* 2 */
  overflow: visible; }

/**
 * Remove the margin in Safari.
 * 1. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  /* 1 */
  margin: 0; }

/**
 * Remove the inheritence of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritence of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Change the cursor in all browsers (opinionated).
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer; }

/**
 * Restore the default cursor to disabled elements unset by the previous rule.
 */
[disabled] {
  cursor: default; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * Correct the odd appearance of search inputs in Chrome and Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; }

/**
 * Remove the inner padding and cancel buttons in Chrome on OS X and
 * Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

* {
  box-sizing: border-box; }
  *:after, * :before {
    box-sizing: border-box; }

input, textarea, keygen, select, button {
  font-family: inherit;
  outline-width: 0; }

ul, li, ol, p {
  margin: 0; }

h1 {
  margin: 0;
  font-weight: normal; }

h2 {
  margin: 0;
  font-weight: normal; }

h3 {
  margin: 0;
  font-weight: normal; }

h4 {
  margin: 0;
  font-weight: normal; }

h5 {
  margin: 0;
  font-weight: normal; }

h6 {
  margin: 0;
  font-weight: normal; }

.wrapper {
  width: 100%; }
  .wrapper:after {
    display: table;
    content: "";
    clear: both; }

.inner, .header {
  width: 980px;
  padding: 0 0;
  margin: 0 auto; }
  .inner:after, .header:after {
    display: table;
    content: "";
    clear: both; }

@font-face {
  font-family: 'minion_pro';
  src: url("../fonts/MinionPro-Regular.eot");
  src: url("../fonts/MinionPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MinionPro-Regular.woff") format("woff"), url("../fonts/MinionPro-Regular.ttf") format("truetype"), url("../fonts/MinionPro-Regular.svg#minion_pro") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'helveticaneuecyrlight';
  src: url("../fonts/helveticaneuecyr-light-webfont.eot");
  src: url("../fonts/helveticaneuecyr-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-light-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-light-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuecyrthin';
  src: url("../fonts/helveticaneuecyr-thin-webfont.eot");
  src: url("../fonts/helveticaneuecyr-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-thin-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-thin-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-thin-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.inner {
  width: 1000px; }

.icon {
  display: inline-block; }

html, body {
  height: 100%; }

body {
  display: table;
  height: 100%;
  width: 100%; }

.overlay {
  display: table-row;
  height: auto; }

.footer {
  display: table-row;
  height: 1px;
  background: #2d2c2c; }
  .footer__inner {
    padding: 21px 20px 24px; }
  .footer__nav {
    display: table-row;
    width: 100%; }
    .footer__nav a {
      color: #fff;
      text-decoration: none;
      display: table-cell;
      font-family: 'helveticaneuecyrthin', sans-serif;
      font-size: 0.875em;
      word-wrap: none;
      white-space: nowrap;
      width: 1%; }
      .footer__nav a:last-child {
        text-align: right; }
      .footer__nav a:hover {
        text-decoration: underline; }
  .footer__phone {
    float: right;
    margin-top: 22px;
    color: #fff;
    font-family: 'Arimo', sans-serif;
    font-size: 1.75em; }

.header {
  overflow: hidden; }
  .header__logo {
    float: left; }
  .header__logo-img {
    vertical-align: top; }
  .header__phone-wrapper {
    float: right;
    padding-top: 25px; }
    .header__phone-wrapper .icon-header-phone {
      vertical-align: middle; }
  .header__phone {
    display: inline-block;
    vertical-align: middle;
    font-family: 'helveticaneuecyrlight', sans-serif;
    font-size: 1.125em; }

.nav {
  width: 808px;
  float: right;
  padding-top: 7px; }
  .nav__main {
    list-style: none;
    padding: 0;
    line-height: 43px; }
    .nav__main li {
      display: table-cell;
      border: 1px solid transparent;
      border-right: 1px solid #ee0700;
      width: 1%;
      text-align: center;
      font-family: 'helveticaneuecyrthin', sans-serif;
      font-size: 0.9375em; }
      .nav__main li:first-child {
        border-left: 1px solid #ee0700; }
      .nav__main li a {
        display: inline-block;
        width: 100%;
        color: #000;
        text-decoration: none; }
      .nav__main li:hover, .nav__main li.active {
        border: 1px solid #ee0700;
        border-left: 1px solid transparent; }
        .nav__main li:hover:first-child, .nav__main li.active:first-child {
          border: 1px solid #ee0700; }
        .nav__main li:hover a, .nav__main li.active a {
          color: #ee0700; }
  .nav__sub {
    list-style: none;
    padding: 0;
    display: inline-block;
    border: 1px solid #ee0700;
    margin-top: 9px; }
    .nav__sub li {
      float: left; }
      .nav__sub li a {
        display: block;
        width: 100%;
        min-height: 42px;
        text-decoration: none;
        font-family: 'helveticaneuecyrlight', sans-serif;
        font-size: 0.875em;
        padding: 16px 8px;
        color: #000; }
      .nav__sub li:hover a, .nav__sub li.active a {
        background-color: #ee0700;
        color: #fff; }

.banner {
  width: 551px;
  height: 180px;
  background: #ee0700;
  position: relative;
  margin-top: 284px;
  margin-bottom: 80px; }
  .banner__title {
    display: block;
    float: left;
    font-family: 'helveticaneuecyrlight', sans-serif;
    font-size: 3em;
    padding-left: 30px;
    color: #fff;
    padding-top: 8px; }
  .banner__image {
    margin-top: 20px;
    height: 80%;
    float: right;
    width: 248px;
    background: url("../img/pumper.svg") 50% 50% no-repeat; }
  .banner__logo {
    position: absolute;
    width: 56px;
    height: 71px;
    top: 0;
    right: -61px;
    background: #ee0700;
    text-align: center; }
    .banner__logo:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    .banner__logo .icon {
      vertical-align: middle; }

.top-bg {
  background-repeat: no-repeat;
  background-position: 50% 0; }

.content {
  padding: 80px 0 0;
  position: relative;
  overflow: hidden;
  padding-bottom: 60px; }
  .content:after {
    display: table;
    content: "";
    clear: both; }
  .content h1 {
    color: #ee0700;
    font-family: 'helveticaneuecyrlight', sans-serif;
    font-size: 1.75em;
    float: left;
    width: 260px;
    padding-right: 20px;
    text-transform: uppercase; }
  .content__middle {
    float: left;
    width: 720px;
    font-family: 'helveticaneuecyrthin', sans-serif;
    font-size: 1.125em;
    line-height: 1.3333em; }
    .content__middle:after {
      display: table;
      content: "";
      clear: both; }
  .content p {
    padding-bottom: 1em; }
  .content strong {
    font-family: 'helveticaneuecyrlight', sans-serif;
    font-size: 1em; }

.news__title {
  font-family: 'helveticaneuecyrlight', sans-serif;
  font-size: 1.75em;
  color: #ee0700;
  text-transform: uppercase; }

.news__row {
  margin: 2em 0; }
  .news__row:after {
    display: table;
    content: "";
    clear: both; }

.new {
  min-height: 484px;
  position: relative;
  width: 460px;
  padding-bottom: 20px; }
  .new:nth-child(2n+1) {
    float: left; }
  .new:nth-child(2n) {
    float: right; }
  .new__title {
    display: block;
    font-family: 'helveticaneuecyrthin', sans-serif;
    font-size: 1.5em;
    min-height: 48px;
    border: 1px solid #ee0700;
    padding: 10px 15px; }
  .new__time {
    display: block;
    background-color: #ee0700;
    max-width: 120px;
    padding: 10px 15px;
    font-family: 'helveticaneuecyrthin', sans-serif;
    font-size: 1.125em;
    color: #fff; }
  .new__content {
    margin-top: 30px; }
    .new__content p {
      font-family: 'helveticaneuecyrthin', sans-serif;
      font-size: 1.125em;
      padding-bottom: 26px;
      line-height: 1.3333em; }
  .new__more-link {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'helveticaneuecyrthin', sans-serif;
    font-size: 1.125em;
    color: #000; }
