@import url(https://fonts.googleapis.com/css?family=Arimo&subset=latin,cyrillic);
@font-face {
  font-family: 'minion_pro';
  src: font-url('MinionPro-Regular.eot');
  src: font-url('MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
     font-url('MinionPro-Regular.woff') format('woff'),
     font-url('MinionPro-Regular.ttf') format('truetype'),
     font-url('MinionPro-Regular.svg#minion_pro') format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
    font-family: 'helveticaneuecyrlight';
    src: font-url('helveticaneuecyr-light-webfont.eot');
    src: font-url('helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('helveticaneuecyr-light-webfont.woff2') format('woff2'),
         font-url('helveticaneuecyr-light-webfont.woff') format('woff'),
         font-url('helveticaneuecyr-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrthin';
    src: font-url('helveticaneuecyr-thin-webfont.eot');
    src: font-url('helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('helveticaneuecyr-thin-webfont.woff2') format('woff2'),
         font-url('helveticaneuecyr-thin-webfont.woff') format('woff'),
         font-url('helveticaneuecyr-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@mixin ar($size: 1em) {
  font-family: 'Arimo', sans-serif;
  font-size: $size;
}
@mixin mpr($size: 1em) {
  font-family: 'minion_pro', serif;
  font-size: $size;
}
@mixin hl($size: 1em) {
  font-family: 'helveticaneuecyrlight', sans-serif;
  font-size: $size;
}
@mixin ht($size: 1em) {
  font-family: 'helveticaneuecyrthin', sans-serif;
  font-size: $size;
}
