@import "normalize";
@import "reset";
@import "mixins";
@import "fonts";
@import "/scss/sprite.css";
$red: #ee0700;
.wrapper {
  @extend %wrapper;
}
.inner {
  @extend %inner;
  width: 1000px;
}
.icon {
  display: inline-block;
}
html, body {
  height: 100%;
}
body {
  display: table;
  height: 100%;
  width: 100%;
}
.overlay {
  display: table-row;
  height: auto;
}
.footer {
  display: table-row;
  height: 1px;
  background: #2d2c2c;
  &__inner {
    padding: 21px 20px 24px;
  }
  &__nav {
    display: table-row;
    width: 100%;
    a {
      color: #fff;
      text-decoration: none;
      display: table-cell;
      @include ht(.875em);
      word-wrap: none;
      white-space: nowrap;
      width: 1%;
      &:last-child {
        text-align: right;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__phone {
    float: right;
    margin-top: 22px;
    color: #fff;
    @include ar(1.75em);
  }

}
.header {
  @extend %inner;
  overflow: hidden;
  &__logo {
    float: left;
  }
  &__logo-img {
    vertical-align: top;
  }
  &__phone-wrapper {
    float: right;
    padding-top: 25px;
    .icon-header-phone {
      vertical-align: middle;
    }
  }
  &__phone {
    display: inline-block;
    vertical-align: middle;
    @include hl(1.125em);
  }
}
.nav {
  width: 808px;
  float: right;
  padding-top: 7px;
  &__main {
    @include lsn;
    line-height: 43px;
    li {
      display: table-cell;
      border: 1px solid transparent;
      border-right: 1px solid $red;
      width: 1%;
      text-align: center;
      @include ht(0.9375em);
      &:first-child {
        border-left: 1px solid $red;
      }
      a {
        display: inline-block;
        width: 100%;
        color: #000;
        text-decoration: none;
      }
      &:hover, &.active {
        &:first-child {
          border: 1px solid $red;
        }
        border: 1px solid $red;
        border-left: 1px solid transparent;
        a {
          color: $red;
        }
      }
    }
  }
  &__sub {
    @include lsn;
    display: inline-block;
    border: 1px solid $red;
    margin-top: 9px;
    li {
      float: left;
      a {
        display: block;
        width: 100%;
        min-height: 42px;
        text-decoration: none;
        @include hl(0.875em);
        padding: 16px 8px;
        color: #000;
      }
      &:hover, &.active {
        a {
          background-color: $red;
          color: #fff;
        }
      }
    }
  }
}
.banner {
  width: 551px;
  height: 180px;
  background: $red;
  position: relative;
  margin-top: 284px;
  margin-bottom: 80px;
  &__title {
    display: block;
    float: left;
    @include hl(3em);
    padding-left: 30px;
    color: #fff;
    padding-top: 8px;
  }
  &__image {
    margin-top: 20px;
    height: 80%;
    float: right;
    width: 248px;
    background: image-url('pumper.svg') 50% 50% no-repeat;
  }
  &__logo {
    position: absolute;
    width: 56px;
    height: 71px;
    top: 0;
    right: -61px;
    background: $red;
    text-align: center;
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    .icon {
      vertical-align: middle;
    }
  }
}
.top-bg {
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.content {
  padding: 80px 0 0;
  position: relative;
  overflow: hidden;
  @include clearfix;
  padding-bottom: 60px;
  h1 {
    color: $red;
    @include hl(1.75em);
    float: left;
    width: 260px;
    padding-right: 20px;
    text-transform: uppercase;
  }
  &__middle {
    float: left;
    width: 720px;
    @include ht(1.125em);
    line-height: 1.3333em;
    @include clearfix;
  }
  p {
    padding-bottom: 1em;
  }
  strong {
    @include hl(1em);
  }
}
.news {
  &__title {
    @include hl(1.75em);
    color: $red;
    text-transform: uppercase;
  }
  &__row {
    margin: 2em 0;
    @include clearfix;
  }
}
.new {
  min-height: 484px;
  position: relative;
  width: 460px;
  padding-bottom: 20px;
  &:nth-child(2n+1) {
    float: left;
  }
  &:nth-child(2n) {
    float: right;
  }
  &__title {
    display: block;
    @include ht(1.5em);
    min-height: 48px;
    border: 1px solid $red;
    padding: 10px 15px;
  }
  &__time {
    display: block;
    background-color: $red;
    max-width: 120px;
    padding: 10px 15px;
    @include ht(1.125em);
    color: #fff;
  }
  &__content {
    margin-top: 30px;
    p {
      @include ht(1.125em);
      padding-bottom: 26px;
      line-height: 1.3333em;
    }
  }
  &__more-link {
    position: absolute;
    bottom: 0;
    right: 0;
    @include ht(1.125em);
    color: #000;
  }
}
