/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-header-phone {
  background-image: url(/img/sprite.png);
  background-position: -39px 0px;
  width: 17px;
  height: 17px;
}
.icon-small-logo {
  background-image: url(/img/sprite.png);
  background-position: 0px 0px;
  width: 39px;
  height: 42px;
}
